* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Rubik', sans-serif;
  font-display: swap;

  background-color: #364f6b;
}

html, body, #app {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
